body {
    background-color: #ff6f91;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    margin: 5px;
    padding: 10px;
    width: 200px;
    border-radius: 10px; /* Añadir bordes redondeados */
    border: 1px solid #ccc; /* Añadir borde */
}

input[type="text"][readonly] {
    background-color: #f0f0f0;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.show-password-label {
    margin-left: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
